app/storage/
bootstrap/compiled.php
ENV backups/*

public/build
public/hot
public/images/blog/
public/images/media/
public/images/rooms/
public/images/settings/
public/storage
public/uploads/

storage/*.key
/storage/pail

vendor/
node_modules/

.env
.env.example
.htaccess
composer.lock

*.zip
*.rar
*.log

